<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dtinone.datashare.mapper.InformationTitleMapper">

	<!-- 新增 -->
	<!-- int addItem(InformationTitle param); -->
	<insert id="addItem" useGeneratedKeys="true" keyProperty="idKey" parameterType="com.dtinone.datashare.entity.InformationTitle">
		insert into t_information_title
		<trim suffixOverrides="," prefix="(" suffix=")">
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="parentId != null and parentId != ''">
				parent_id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="nameEn != null and nameEn !=''">
				name_en,
			</if>
			<if test="remove != null and remove != ''">
				remove,
			</if>
			
			<if test="layout != null and layout != ''">
				layout,
			</if>
			<if test="keyCode != null and keyCode != ''">
				key_code,
			</if>
			<if test="isQueryDict != null and isQueryDict != ''">
				is_query_dict,
			</if>
			<if test="require != null and require != ''">
				require,
			</if>
		</trim>
		<trim suffixOverrides="," prefix=" values( " suffix=")">
			<if test="name != null and name != ''">
				#{name},
			</if>
			<if test="parentId != null and parentId != ''">
				#{parentId},
			</if>
			<if test="createTime != null">
				#{createTime},
			</if>
			<if test="nameEn != null and nameEn !=''">
				#{nameEn},
			</if>
			<if test="remove != null and remove != ''">
				#{remove},
			</if>
			
			<if test="layout != null and layout != ''">
				#{layout},
			</if>
			<if test="keyCode != null and keyCode != ''">
				#{keyCode},
			</if>
			<if test="isQueryDict != null and isQueryDict != ''">
				#{isQueryDict},
			</if>
			<if test="require != null and require != ''">
				#{require},
			</if>
		</trim>
	</insert>

	<!-- 删除 -->
	<!-- int delItem(@Param("idKeys") List<Integer> idKeys); -->
	<delete id="delItem" parameterType="java.util.List">
		delete from t_information_title where id_key in
		<foreach collection="idKeys" item="item" index = "index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</delete>
	
	<!-- int changeRemove(@Param("idKeys") List<Integer> idKeys); -->
	<update id="changeRemove" parameterType="java.util.List">
		update t_information_title set 
		<choose>
			<when test="isOpen == true">
				remove = 0
			</when>
			<otherwise>
				remove = -1
			</otherwise>
		</choose>
		where id_key in
		<foreach collection="idKeys" item="item" index = "index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</update>
	<!--int changeRemoveByDemoModel(@Param("idKeys") List<Integer> idKeys);-->
	<update id="changeRemoveByDemoModel" parameterType="java.util.List">
		update t_information_title set
			remove = -1
		where parent_id in
		<foreach collection="idKeys" item="item" index = "index" open="(" close=")" separator=",">
			#{item}
		</foreach>
	</update>
	<!-- 修改 -->
	<!-- int updateItem(InformationTitle param); -->
	<update id="updateItem" parameterType="com.dtinone.datashare.entity.InformationTitle">
		update t_information_title 
		<trim prefix="set" suffixOverrides=",">
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="parentId != null and parentId != ''">
				parent_id,
			</if>
			<if test="createTime != null">
				create_time = #{createTime},
			</if>
			<if test="remove != null">
				remove = #{remove},
			</if>
			<if test="nameEn != null and nameEn !=''">
				name_en = #{nameEn},
			</if>
			<if test="layout != null and layout != ''">
				layout = #{layout},
			</if>
			<if test="keyCode != null and keyCode != ''">
				key_code = #{keyCode},
			</if>
			<if test="isQueryDict != null and isQueryDict != ''">
				is_query_dict = #{isQueryDict},
			</if>
			<if test="require != null and require != ''">
				require = #{require},
			</if>
		</trim>
		where id_key = #{id_key}
	</update>
	
	<!-- 查询 -->
	<!-- List<InformationTitle> queryInfo(InformationTitle condition); -->
	<select id="queryInfo" resultType="com.dtinone.datashare.entity.InformationTitle">
		select * from t_information_title
		<where>
			<trim suffixOverrides="and">
				<if test="idKey != null and idKey != ''">
					id_key = #{idKey} and
				</if>
				<if test="name != null and name != ''">
					name = #{name} and
				</if>
				<if test="parentId != null and parentId != ''">
					parent_id = #{parentId} and
				</if>
				<if test="nameEn != null and nameEn !=''">
					name_en = #{nameEn} and
				</if>
				<if test="createTime != null">
					create_time = #{createTime} and
				</if>
				<if test="layout != null and layout != ''">
					layout = #{layout} and
				</if>
				<if test="keyCode != null and keyCode != ''">
					key_code = #{keyCode} and
				</if>
				<if test="isQueryDict != null and isQueryDict != ''">
					is_query_dict = #{isQueryDict} and
				</if>
				<if test="require != null and require != ''">
					require = #{require} and
				</if>
			</trim>
		</where>
	</select>
</mapper>